<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hit.neuruimall.mapper.AddressMapper">

    <resultMap id="addressMap" type="address">
        <id property="userId" column="USERID"/>
        <id property="addressId" column="ADDRESSID"/>
        <result property="receiverName" column="RECEIVERNAME"/>
        <result property="phone" column="PHONE"/>
        <result property="address" column="ADDRESS"/>
    </resultMap>


</mapper>