<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hit.neuruimall.mapper.AddressMapper">

    <resultMap id="addressMap" type="address">
        <id property="userId" column="USERID"/>
        <id property="addressId" column="ADDRESSID"/>
        <result property="receiverName" column="RECEIVERNAME"/>
        <result property="phone" column="PHONE"/>
        <result property="address" column="ADDRESS"/>
    </resultMap>

    <select id="selectById" resultMap="addressMap">
        select * from address where USERID=#{userId} and ADDRESSID=#{addressId}
    </select>

    <insert id="insert">
        insert into address (USERID, ADDRESSID, RECEIVERNAME, PHONE, ADDRESS) values (#{userId}, #{addressId}, #{receiverName}, #{phone}, #{address})
    </insert>

    <delete id="deleteById">
        delete from address where USERID= #{userId} and ADDRESSID=#{addressId}
    </delete>

    <select id="selectUserAddressId" resultType="Integer">
        select ADDRESSID from address where USERID=#{id}
    </select>

    <update id="update">
        update address set RECEIVERNAME=#{receiverName}, PHONE=#{phone}, ADDRESS=#{address} where USERID=#{userId} and  ADDRESSID=#{addressId}
    </update>

    <select id="selectUserMaxAddressId" resultType="Integer">
        select max(ADDRESSID) from address where USERID=#{userId}
    </select>

</mapper>